.home-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.testing {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    column-gap: 25px;
    row-gap: 18px;
    color: black;
}