.sign-in {
    //max-width: var(--bg-scrn);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--lato-font);
    margin: 50px 16px 78px;

   & &__container {
        max-width: var(--bg-scrn-cont);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    & &__logo {
        margin-bottom: 32px;
    }

    & &__buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 18px;
        max-width: 435px;
    }

    & &__form {
        width: 100%;
    }

    & &__dividers {
        max-width: 433px;
        width: 100%;
        margin: 32px 0;
        color: var(--grey-grade3);
        font-size: 16.53px;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 24px;
    }

    & &__divider {
        display: block;
        width: 42.7%;
        border-top: 1px solid var(--grey-grade3);
        border-radius: 50px;
    }

    & &__h3 {
        color: var(--black-color);
        font-size: 16px;
        font-weight: 800;
        text-align: center;
        margin-bottom: 18px;
        line-height: 19.2px;
        position: relative;
        left: 1px;
    }

    & &__text-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 14px;
        margin-bottom: 2rem;
    }

    & &__profile {
        display: block;
        color: var(--black-color);
        font-size: 14px;
        width: 100%;
        font-weight: 600;
        //-moz-text-decoration-line: underline;
        text-decoration-line: underline;
        cursor: pointer;
        position: relative;
    }


    & &__button {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: var(--bg-scrn-cont);
    }

    & &__check {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    & &__divider2 {
        display: block;
        width: 100%;
        border-top: 1px solid var(--grey-grade3);
    }

    & &__redirect {
        font-size: 16px;
        max-width: 435px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        position: relative;
        //top: 1px;
        //left: 1px;

        p {
            font-size: 18px;
            font-weight: 700;
            position: relative;
            left: -1px;
            top: 1px;
        }

        a {
            text-decoration: none;
            font-size: 16px;
            font-weight: 700;
            position: relative;
            left: -1px;
            top: 2px;
        }

        &--opacity {
            opacity: .5;
            display: block;
            width: 100%;
        }
    }

    @media screen and (max-width: 476px) {

        & &__logo {
            margin-bottom: 50px;
        }

        & &__h3 {
            margin-bottom: 50px;
            //font-weight: 700;
        }

        // & &__dividers {
        //     margin: 32px 0 ;
        // }

        // & &__divider {
        //     width: 42.7%;
        // }

        & &__form {
            position: relative;
            //top: 1px;
        }

        & &__profile {
            top: 1px;
        }

        & &__redirect {

            a {
                left: 0;
                //top: 1px;
            }
        }
    }
}