/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-primary: #5721f2;
    --color-on-surface: #000;
    --black-color: #000000;
    --apple-black: #191919;
    --apple-black-hover: #363535;
    --apple-black-pressed: #747070;
    --grey-grade1: #292929;
    --grey-grade2: #444444;
    --grey-grade3: #BBBBBB;
    --white-color: #FFFFFF;
    --white-color-hover: #ffffff98;
    --green-color: #65D36E;
    --green-color-hover: #76d37d;
    --blue-color: #445A90;
    --blue-color-hover: #5f75ac;
    --blue-color-pressed: #8693b4;
    --red-color: #c42a36;
    --lato-font: 'Lato', sans-serif;
    --bg-scrn: 1440px;
    --bg-scrn-cont: 442px;
    --sm-scrn: 476px;
    --sm-scrn-cont: 343px;
}