.button-container {
    //width: 100%;
    height: auto;
    font-family: var(--lato-font);
    max-width: 435px;
    display: flex;
    justify-content: center;

    &__button {
        border: none;
        padding: 1em 3em;
        background-color: transparent;
        border-radius: 50px;
        border: 1px solid var(--grey-grade1);
        width: 100%;
        font-weight: 700;
        color: var(--grey-grade1);
        height: 57px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        cursor: pointer;


        &--facebook {
            background-color: var(--blue-color);
            color: var(--white-color);
            border: none;
        }

        &--apple {
            background-color: var(--black-color);
            color: var(--white-color);
            border: none;
        }

        &--sign-in {
            background-color: var(--green-color);
            color: var(--black-color);
            padding: 18px 60px;
            border: none;
            width: auto;
            white-space: nowrap;
        }
    }

    @media screen and (max-width: 476px) {
            //width: 343px;
            max-width: 343px;
    }

}