.button-container {
    height: auto;
    font-family: var(--lato-font);
    display: flex;
    justify-content: center;

    & &__button {
        display: block;
        border: none;
        padding: 20px auto 18px;
        background-color: var(--white-color);
        border-radius: 50px;
        border: 1px solid var(--grey-grade1);
        width: 100%;
        font-weight: 700;
        font-size: 1rem;
        line-height: 19.2px;
        color: var(--grey-grade1);
        height: 57px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        white-space: nowrap;
        cursor: pointer;


        &:hover {
            background-color: var(--white-color-hover);
        }

        &:disabled {
            background-color: var(--grey-grade3);
            cursor: default;
        }



        &--facebook {
            background-color: var(--blue-color);
            color: var(--white-color);
            border: none;

            &:not(:disabled) {
                &:hover {
                    background-color: var(--blue-color-hover);
                }
    
                &:focus {
                    background-color: var(--blue-color-pressed);
                }
            }
        }

        &--apple {
            background-color: var(--apple-black);
            color: var(--white-color);
            border: none;

            &:hover {
                background-color: var(--apple-black-hover);
            }

            &:focus {
                background-color: var(--apple-black-pressed);
            }
        }

        &--sign-in {
            background-color: var(--green-color);
            color: var(--black-color);
            padding: 18px 60px;
            border: none;
            width: auto;
            white-space: nowrap;
            font-size: 1rem;
            font-weight: 700;
            line-height: 19.2px;
            height: 55px;
            width: 173px;

            &:not(:disabled) {
                &:hover {
                    background-color: var(--green-color-hover);
                }
    
                &:focus {
                    background-color: var(--green-color);
                }
            }
        }
    }

    @media screen and (max-width: 300px) {
        & &__button {
            font-size: 14px;

            &--sign-in {
                padding: 18px 30px;
                width: unset;
            }
        }
    }
}