.sign-up {
    max-width: var(bg-scrn);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--lato-font);
    margin: 50px 16px 78px;

    &__container {
        max-width: var(--bg-scrn-cont);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //border: 1px solid red;
    }

    &__logo {
        margin-bottom: 50px;
    }

    &__h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 43.2px;
        font-family: var(--lato-font);
        margin-bottom: 50px;
        text-align: center;
        color: var(--black-color);
    }

    &__buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 18px;
        max-width: 435px;
    }

    &__form {
        box-sizing: content-box;
        //max-width: 442px;
        width: 100%;
    }

    &__dividers {
        max-width: 433px;
        width: 100%;
        margin: 32px 0;
        color: var(--grey-grade3);
        font-size: 16.53px;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__divider {
        display: inline-block;
        width: 42.7%;
        border-top: 1px solid var(--grey-grade3);
        border-radius: 50px;
    }

    &__h3 {
        color: var(--black-color);
        font-size: 18px;
        text-align: center;
        margin-bottom: 32px;
    }

    &__text-input {
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        margin-bottom: 2rem;
    }

    &__profile {
        display: block;
        color: var(--black-color);
        font-size: 14px;
        font-weight: 400;
        //position: relative;
    }

    &__fieldset {
        border: none;
        color: var(--black-color);
        margin-bottom: 2rem;
        margin-bottom: 31px;
    }

    &__legend {
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 1rem;
        line-height: 16.8px;
    }

    &__date {
        display: grid;
        grid-template-columns: 4.276fr 2.489fr 2.692fr;
        gap: 12px;
        align-items: center;
        max-width: 442px;

        &--error {
            display: block;
            color: var(--red-color);
            margin-top: 10px;
        }
    }

    &__month {
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 700;
    }

    &__radios {
        display: flex;
        flex-wrap: wrap;
        white-space: nowrap;
        column-gap: 25px;
        row-gap: 18px;
    }

    &__p {
        width: 100%;
        margin: 2rem 0;
    }

    &__agree {
        font-size: 13px;
        text-align: center;
        //margin-bottom: 2rem;
        margin-bottom: 33px;
        font-weight: 600;
        line-height: 15.6px;
        &--link {
            color: var(--green-color);
            font-weight: 600;
            
        }
    }

    &__terms {
        font-size: 13px;
        text-align: center;
        font-weight: 600;
        line-height: 15.6px;
        &--link {
            color: var(--green-color);
            font-weight: 400;
        }
    }

    &__button {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }

    &__redirect {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        line-height: 19.2px;

        &--link {
            color: var(--green-color);
            font-weight: 500;
        }
    }

    @media screen and (max-width: 476px) {

        &__divider {
            width: 40.8%;
        }

        &__date {
            grid-template-columns: 3.94fr 2.68fr 2.68fr;
        }

        &__agree {
            font-weight: 600;

            &--link {
                display: block;
            }
        }

        &__terms {
            font-weight: 600;
            padding: 0 7.5px;

            &--link {
                display: block;
            }
        }
    }


    @media screen and (max-width: 375px) {
        max-width: unset;

        &__container {
            max-width: unset;
        }
    }

    @media screen and (max-width: 300px) {
        margin: 50px 0px 78px;

        &__container {
            max-width: 280px;
        }

        &__h2 {
            font-size: 24px;
        }
    }


}